a {
  text-decoration:none;
}
/*a[href^="http:"] {
  background-color: red;
}*/
a[href="http://www.tacoipsum.com/"] {
  color:red;
}
p[class^="alert"] {
  padding:0.5rem;
  border:2px solid;
}
.alert-success {
  color:green;
  background-color:greenyellow;
  border-color:green;
}
.alert-error {
  color:red;
  background-color:pink;
  border-color:red;
}
footer a:hover {
  color:magenta;
  font-size: 150%;
  font-family: monospace;
}
aside a {
  text-decoration: none;
  color:green;
}
aside a:visited {
  color:orange;
}
aside a:hover {
  font-size:200%;
  text-decoration: underline;
}
h2:hover {
  background-color:pink;
}
/*footer:hover {
  border:3px solid orange;
}*/

.fillings li:nth-child(odd) {
  color:orange;
}

.fillings li:nth-child(even) {
  color:red;
}

p::first-letter {
  font-size:200%;
}
